.git
.gitignore
.venv
venv
env
__pycache__
*.py[cod]
*.egg-info
.eggs
dist
build
.pytest_cache
.mypy_cache
.ruff_cache
.idea
.vscode
.DS_Store
.env
.env.*
*.csv
*.pkl
*.joblib
data
model
notebooks
report
docs
*.md
pyrightconfig.json
kaggle.json
